body{
    padding: 20px;
}

.search2{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 padding-left: 850px;


}
  

.line{
  display: flex;
  justify-content: space-between;
  background-color: lightskyblue;
 
 
}

.line2{
    justify-content: space-between;
}

.SB{
border-color: lightskyblue;
width: 808px;
}

.SEButton{
background-color: lightskyblue;
border-color: lightskyblue;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.searchpart{
    padding-left: 450px;
}

.row{
    max-width: 100%;
    width:  500px;
    height: auto;
    border-radius: 10px;
    margin: auto;
    align-items: center;
    justify-content:center;
    
  
}

.container-fluid{
    align-items: center;
    justify-content:center;
    display: inline-flex;
    
}



.lb{
    background-color: lightskyblue;
}